.toolbar {
  height: 32px;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  .buttons {
    display: flex;
  }

  .finder {
    height: 32px;

    input {
      width: 200px;
      height: 30px;
      padding: 0 20px;
      border: 1px solid var(--gray-200);
      border-radius: 4px;
      &:focus {
        border-color: transparent;
        outline: 3px solid var(--primary-900);
      }
    }
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border-radius: 5px;
  box-shadow: 0 0 1px var(--gray-600);
  thead {
    tr {
      margin: 0;
      padding: 0;
      th {
        line-height: 38px;
        font-size: 14px;
        border-radius: 5px 5px 0 0;
        font-weight: bold;
        color: var(--gray-400);
        background-color: var(--gray-50);
      }
    }
  }
  tbody {
    tr {

      &:nth-child(even) {
        background-color: var(--gray-50);
      }

      &:hover {
        background-color: var(--gray-200);
      }

      td {
        height: 38px;
        font-size: 14px;
        padding: 0 8px;
        &.buttons {
          display: flex;
          align-items: center;
          justify-content: center;
          :global(button) {
            margin-right: 10px;
            &:last-child {
              margin: 0;
            }
          }
        }
      }
    }
  }
}